* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    overflow: hidden;
}

canvas {
    display: block;
    touch-action: none
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    z-index: 1000
}

.controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: rgb(0 0 0 / .7);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    z-index: 1000
}
.copy {
            position: fixed;
            top: 20px;
            right: 20px;
            color: black;
            background: rgba(255, 255,255, 0.7);
            padding: 10px;
            border-radius: 5px;
            font-size: 12px;
        }
.copy:hover {
  background: rgba(255, 255,255, 1);
  transition: 1s ease-in-out;
}
.info {
            position: fixed;
            bottom: 20px;
            left: 20px;
            color: white;
            background: rgba(0, 0, 0, 0.8);
            padding: 10px;
            border-radius: 5px;
            font-size: 12px;
        }
a {
        	text-decoration: none;
        	color: orange;
        }
        
        a:hover {
        	color: white;
        	transition: all .6s ease;
    	}